/*Style Sheet for soccer page*/
/*Ava Werner 7/18/25*/

* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto 1fr 4rem;
    grid-template-areas: 
    "header header"
    "nav nav"
    "aside main"
    "aside footer"
    ;
}
/*main head controls*/
header {
    color: white;
    font-family: sans-serif;
    background-image: url(soccerBg2.jfif);
    text-align: center;
    background-color: brown;
    grid-area: header;
    padding: 3rem;
}
/*Navigation Controls*/
nav {
    display: flex;
    justify-content: center;
    top: 0;
    position: sticky;
    background-color: rgb(123, 255, 123);
    grid-area: nav;
    padding: 1rem;
}
nav a {
    padding: 3px;
    color: black;
    text-decoration: none;
}
a:hover {
    border: 2px solid black;
}
nav ul li {
    list-style-type: none;
    float: left;
    padding: 5px 9px;
}
/*Main body controls*/
section {
    margin: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}
h3 {
    text-align: center;
}
hr {
    margin-bottom: 5px;
}
li {
    padding: 5px 9px;
}
#sec1 ul, #sec3 ul {
    padding: 5px;
}
#sec2 ol {
    padding: 5px;
}
aside {
    padding-top: 1rem;
    text-align: center;
    height: calc(100vh - 105px);
    top: 88px;
    align-self: start;
    position: sticky;
    background-color: white;
    grid-area: aside;
}
.img-fluid {
    border-radius: 1rem;
    width: 60%;
    height: auto;
}
main {
    background-image: url(SoccerBG.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: main;
}
h2 {
    text-align: center;
}
/*Footer controls*/
footer {
    padding-top: 1rem;
    color: black;
    text-align: center;
    background-color: rgb(123, 255, 123);
    grid-area: footer;
}


/*Small Screen controls*/

@media(max-width: 800px) {
    body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 15vh 1fr;
    grid-template-rows: auto auto 1fr 4rem ;
    grid-template-areas: 
    "header"
    "nav"
    "aside main"
    "footer"
    ;
    }
    body {
        background-size: cover;
    }
    #Currents {
        width: 9vh;
        height: auto;
    }
}
